<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<script>
function myFunction() {
	
}
</script>

<form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:required="required"></span><br/>
    <label for="phone">No. Hp</label>
    <input type="text" th:field="*{phone}" id="phone" placeholder="No. Hp">
    <span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" th:required="required"></span><br/>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:required="required"></span><br/>
    <label for="address">Alamat</label>
    <input type="text" th:field="*{address}" id="address"><button onclick="myFunction()">+</button>
    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}" th:required="required"></span><br/>
    <p><input type="text" th:field="*{address1}" id="address1" class="addr"><button onclick="myFunction()">-</button>
    <span th:if="${#fields.hasErrors('address2')}" th:errors="*{address2}" th:required="required"></span><br/>
    <input type="text" th:field="*{address2}" id="address2" class="addr">
     <span th:if="${#fields.hasErrors('address2')}" th:errors="*{address2}" th:required="required"></span><button onclick="myFunction()">-</button><br/>
    <input type="submit" value="Create">   
</form>
</body>
</html>